*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#eas-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.eas-row {
    display: flex;
}

.eas-item {
    border: 1px solid black;
}
