*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.paragraph1 {
    margin: 0 0 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

#eas-container {
    width: 850px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.eas-row {
    display: flex;
}

.eas-item {
    border: 1px solid black;
}

